[submodule "flox-file-parser"]
	path = flox-file-parser
	url = https://github.com/exane/flox-file-parser
[submodule "chrome-extension"]
	path = chrome-extension
	url = https://github.com/krikkemeh/flomeh-chrome.git
